.company-login-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.company-username-input {
  outline: none;
  border-radius: 0;
  border-style: solid;
}

.company-password-input {
  outline: none;
  border-radius: 0;
  border-style: solid;
  border-top: 0;
}

.company-sign-in-button {
  border-radius: 0;
  padding: 0.2rem;
}

.company-sign-in-button:active {
  background-color:#868686;
}